@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https: //fonts.google.com/specimen/Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav {
    /* background: #004C4C; */
    background: #001223;
    height: 80px;
    width: 100%;
}

.logo {
    /* background-color: #004C4C; */
    background: #001223;
    color: #CBF3F0;
    font-size: 33px;
    line-height: 80px;
    padding: 0 140px;
    font-weight: 600;
    font-family: 'Verdana', sans-serif;
}

nav ul {
    /* background-color: #004C4C; */
    background: #001223;
    float: right;
    margin-right: 60px;
}

nav ul li {
    /* background-color: #004C4C; */
    background: #001223;
    display: inline-block;
    line-height: 75px;
    margin: 0 2px;
}

nav ul li a {
    /* background-color: #004C4C; */
    background: #182842;
    color: #CBF3F0;
    font-weight: 500;
    font-size: 20px;
    padding: 6px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
    font-family: 'Verdana', sans-serif;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 #3DCCC7;
    color: white;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 27px;
        padding-left: 25px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-right: 40px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: #262626; */
    background: #182842;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }
}

section {
    background-color: #ffffff;
    background-size: cover;
    height: calc(100vh - 80px); 
}

#chatbtn {
    color: #CBF3F0;
}

* {
    background-color: #fffcfc;
    font-family: 'Nunito', sans-serif;
}

#head-intro{
    /* background-color: #419c72e7; */
    background-color: #182842;
    width:100%;
    height:380px;
    /* opacity: 0.7; */
    opacity: 1;
    margin:0px; 
    padding:10px;
}
#sample6-sec{
    width:100%;
    height: 900px;
    background-color: whitesmoke;   
}
.sample6-ext-div{
    display:flex;
    width:100%;
    height:50%;
    padding:10px;
    margin-top:10px;
    justify-content:space-between;
}
.sample6-ext-div > div{
    display : flex;
    flex : 1;
    flex-flow: column;
    justify-content: flex-start;
    align-items:center;
}
.sample6-ext-div:nth-of-type(1){
    margin-top:30px;
}
img{
    /* background-color: #a8dc85; */
    background-color: #182842;
    width:80%;
    height:100%;
    padding:10px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
    0 6px 20px rgba(0, 0, 0, 0.23);
}
.sample6-int-div > h2{
    /* color:rgb(155, 1, 155); */
    color:#001223;
    background-color: none;
    margin:5px;
    padding:5px;
    margin-top: 20px;
    font-family:roboto;
    font-weight: bold;
    border-radius: 40px;
    width:200px;
    text-align: center;
    padding-top: 10px;
}
.sample6-ext-div:nth-of-type(2) {
    margin-bottom: 30px;
}
h4{
    display:block; 
}
#head-intro h2{
    font-family: Roboto;
    line-height: 60px;;
    font-weight:700;
    font-size: 63px;
    margin:10px;
    padding:10px;
    /* color:rgb(0, 0, 0); */
    color: #fffcfc;
    text-align:center;
    /* background-color: #419c72e7; */
    background-color: #182842;
    top:auto;
    bottom:auto;
}
#head-intro p{
    color:#ffffffe7;
    /* background-color: #419c72e7; */
    background-color: #182842;
    padding: 80px 150px 0px 150px;
    text-align:center;
    font-size:24px;
    font-weight:500;
}
#start-button{
    display:block;
    position: absolute;
    left: 650px;
    margin: 40px 0px 0px 0px;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 25%;
    background-color: #00ff88e7;
    /* color:rgb(0, 0, 0); */
    color:#001223;
    text-decoration: none;
    transition: background-color 2s;
}
#start-button:hover{
    background-color: white;
}
#footer{
    /* background-color: #419c72e7; */
    background-color: #182842;
    /* opacity: 0.7; */
    opacity: 1;
    width:100%;
    height:37vh;
}
#footer-div h2{
    /* color:#000000; */
    color:#fffcfc;
    /* background-color: #419c72e7; */
    background-color: #182842;
    font-size:33px;
    padding:20px 0px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    line-height: 60px;
    font-weight:700;
    margin:0px;
}
footer div a{
    font-size: 30px;
    width: 250px;
    text-align: center;
    font-weight: 800;
}
footer div p{
    /* background-color: #419c72e7; */
    background-color: #182842;
    color:whitesmoke;
    margin: 0px;
    text-align:center;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom:20px;
}
#logo-top {
    display: block;
    position: absolute;
    width:63px;
    height: 8vh;
    background-color: none;
    color: none;
    cursor: pointer;
    padding: 0px;
    border-radius:3px;
    left: 15px;
    top:8px;
}